
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<a class="btn btn-primary" href="#" role="button">Clientes</a>
<a class="btn btn-primary" href="#" role="button">Fornecedores</a>
<a class="btn btn-primary" href="#" role="button">Entradas</a>
<a class="btn btn-primary" href="#" role="button">Saídas</a>